<?xml version="1.0" encoding="GB2312"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout_console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}] (%30F:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="stdout_file"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="debug" />
		<param name="File" value="Log/run.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p (%30F:%L) %3x - %m%n" />
		</layout>
	</appender>	
	<logger name="baseLog">
		<level value="debug" />
		<appender-ref ref="stdout_console" />
		<appender-ref ref="stdout_file" />
	</logger>
</log4j:configuration>